body{font-family: "Raleway", sans-serif}


/*.rotate {*/
    /*-webkit-animation: spin .8s infinite linear;*/
    /*animation: spin .8s infinite linear;*/
/*}*/
/*@-webkit-keyframes spin {*/
    /*100% { -webkit-transform: rotate(360deg); }*/
/*}*/
/*@-moz-keyframes spin {*/
    /*100% { -moz-transform: rotate(360deg); }*/
/*}*/
/*@keyframes spin {*/
    /*100% {*/
        /*-moz-transform:rotate(360deg);*/
        /*-o-transform:rotate(360deg);*/
        /*transform:rotate(360deg);*/
    /*}*/
/*}*/

.brand-heading {
    font-size: 70px;
}

.masthead {

}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #0f54c4;
}

